<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "folding_lotus_flower.jpg", width: 300, alt: "folding a lotus flower" %>
  </div>
  <div class="col-md-8">
    <p>Hi, ich bin Renzo. Ich reise gerne um die Welt. Ich bin sportbegeistert
      (aktuelle Favoriten sind: Longboard fahren, Klettern, Kite-Skaten, Joggen).
      Motorrad fahre ich auch gerne.</p>
    <p>In diesen Blog schreibe ich, damit ich weniger Postkarten an die Familie
      verschicken muss ;). Aber natürlich versuche ich auch ein paar nützliche Tipps
      an andere Reisende weiter zu geben.</p>
  </div>
</div>
